body {
  background-color: #F9FAFC;
  font-family: 'Segoe UI', sans-serif;
  color: #173A59;
}

h2 {
  font-weight: 600;
  color: #173A59;
}

.card {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #D0D5DA;
}

.btn-primary {
  background-color: #173A59;
  border-color: #173A59;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0f2c45;
  border-color: #0f2c45;
}
